body{
    background-color: purple;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
}



.border-solid{
    border-style: solid;
}
.border-dashed{
    border-style: dashed;
}